@font-face {
    font-family: Product Sans;
    src: url(./fonts/Product\ Sans\ Bold.ttf);
}
*{
    font-family: Product Sans;
}
body, html{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 600px){
    .main-home, .main-sobrenos, .main-servicos, .main-cases, .main-contato{
        display: flex;
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgb(0, 17, 103), rgb(3, 34, 188));
    }
    .menu{
        display: flex;
        position: fixed;
        width: 100%;
        height: 15vh;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    .menu a:hover{
        background-color: #bffffe;
        border-radius: 2px;
        color: #000000;
    }
    .menu div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }
    .menu a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
    .hero-home{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    h1, h2{
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 3px #000000;
    }
    h1{
        margin: -10px;
    }
    .hero-sobrenos{
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-sobrenos p{
        color: #fff;
    }
    .hero-servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20vh;
    }
    .hero-servicos div{
        display: flex;
        width: 70vw;
        gap: 1vw;
    }
    .left-side, .right-side{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
    .left-list, .right-list{
        display: flex;
        flex-direction: column;
        text-align: justify;
        gap: 1vw;
        list-style-position: inside;
    }
    .left-list li, .right-list li{
        font-size: 3vh;
        color: #fff;
    }
    .hero-contato{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }
    .hero-contato h1{
        margin-bottom: 5px;
    }
    .hero-contato p{
        color: #fff;
    }
    #whatsapp{
        border: none;
        background-color: #26fd00d5;
        border-radius: 25px;
        padding: 1vw;
        border: 2px solid #000000;
    }
    #whatsapp:hover{
        background-color: #168d01d5;
        cursor: pointer;
    }
    #instagram{
        border: none;
        background-color: #ff00bf;
        border-radius: 25px;
        padding: 1vw;
        border: 2px solid #000000;
    }
    #instagram:hover{
        background-color: #ff00bfb8;
        cursor: pointer;
    }
    .hero-cases{
        display: flex;
        align-items: center;
        padding-top: 20vh;
        width: 100%;
        flex-direction: column;
        gap: 5vh;
    }
    .relatos{
        display: flex;
        /* padding-left: 10vh;
        padding-right: 10vh; */
        justify-content: space-between;
        color: #fff;
        gap: 10vh;
    }
    .relatos div{
        display: flex;
        justify-content: center;
    }
    .relatos div p{
        width: 25vw;
        text-align: justify;
    }
}
/* @media screen and (max-width: 600px){ */
    .main-home, .main-sobrenos{
        display: flex;
        max-width: 100%;
        height: 100vh;
        background: linear-gradient(rgb(0, 17, 103), rgb(3, 34, 188));
    }
    .menu-home{
        display: flex;
        position: fixed;
        width: 100%;
        height: 15vh;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    .menu-home div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 70vw;
    }
    .menu-home a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6vh;
    }
    .hero-home, .hero-sobrenos{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    h1{
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 3px #000000;
        font-size: 4vh;
    }
/* } */